<p>
    NBA Inc. is the nation’s largest and most recognized biweekly mortgage payment administer for all types of consumer and business loans.
    •	Was presented the first ever outstanding leadership award.
    •	In 2009 I won the employee of the year award.
    •	Worked with Scrum team on a daily basis project planning. Including Scrum poker, sprint release testing, and daily stand up meetings. During this time we had completed over 200 sprints (Agile development).
    •	Over 5000 logged hours of testing projects
    •	Worked directly with CEO and CFO to implement the vision and stay to stay on budget.
    •	Liaison to Microsoft Gold Partner for CRM project to connect 9 legacy systems. Played the role of business analyst to ensure business rules and processes were maintained with a high level of security due to the nature of the data.
   
</p>
