<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{ FullName }}!
  </h1>
 <h2>{{<Address}} 
</h2>
</div>
<div>
<h3>GROWTH DYNAMICS • DAYTON, OHIO                               10/2016 - 10/2017 </h3>
<p>Growth Dynamics is a sales force performance analysis company that uses technology and science to assist companies in making better hiring decisions.
  •	Lead the overall development team to build new website using Joomla.
  •	Worked with vendors and internal team to produce the new company overview video. 
  •	Set up Google Analytics account to track web traffic and feed leads into sales via email based on special alerts. 
  •	Ranked #1 Social Seller out of all my peers utilizing LinkedIn Navigator.
  </p>
</div>
    <div>
    <h3>NATIONWIDE BIWEEKLY ADMINISTRATION• XENIA, OHIO• 7/2008 - 10/2016</h3>
    <p>NBA Inc. is the nation’s largest and most recognized biweekly mortgage payment administer for all types of consumer and business loans.
        •	Was presented the first ever outstanding leadership award.
        •	In 2009 I won the employee of the year award.
        •	Worked with Scrum team on a daily basis project planning. Including Scrum poker, sprint release testing, and daily stand up meetings. During this time we had completed over 200 sprints (Agile development).
        •	Over 5000 logged hours of testing projects
        •	Worked directly with CEO and CFO to implement the vision and stay to stay on budget.
        •	Liaison to Microsoft Gold Partner for CRM project to connect 9 legacy systems. Played the role of business analyst to ensure business rules and processes were maintained with a high level of security due to the nature of the data.
        </p></div>
 
    <h2></h2>

    <h2><a > </a></h2>


